.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    box-sizing: border-box;



.card{
    background: #161616;
    flex-grow: 1;
    color: white;
    padding: 0.8rem;
    border-radius: 0.3rem;
    min-width: 12rem;
    max-width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    img{
        border-radius: 10px;

    }
    h1{
        font-size: 1rem;
    }

    p{
        font-size: 0.7rem;
    }

    .tags{
        // background-color: rgb(32, 32, 32);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .tag{
            background-color: rgb(60, 59, 59);
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
            border-radius: 10px;
        }
    }

    .urls{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        width: 100%;

        a{
            color: yellow;
            text-decoration: none;
            font-size: smaller;
        }
    }
}

}