.window{
    height: 100%;
    // width: 40rem;
    background-color: rgb(0, 0, 0);
    overflow:scroll;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    color: rgb(198, 198, 198);
    font-size: smaller;


    .nav{
        width: 100%;
        display: flex;
        padding-inline-start: 0.4rem;
        padding-block: 0.2rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.428);
        color: rgb(170, 170, 170);
        gap: 1.6rem;
        align-items: center;

        .title{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
        }



        .dots{
            display: flex;
            gap: 0.3rem;

            .dot{
                height: 10px;
                width: 10px;
                border-radius: 50px;
                background-color: white;

            }

            .red{
                background-color: rgb(243, 48, 48);
                cursor: pointer;
            }

            .yellow{
                background-color: yellow;
            }

            .green{
                background-color: rgb(7, 195, 7);
            }
        }
    }

    .main-content{
        // padding: 0.6rem;
        height: 100%;
        width: 100%;
        // display: flex; 
        // flex-wrap: wrap;
        // word-wrap: break-word;
        // // overflow-wrap: break-word;
        // word-break: break-word;
        // padding: 0.6rem;
    }

    
}

*::-webkit-scrollbar{
        width: 6px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgb(37, 37, 37);
        border-radius: 20px;
    }