nav{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 1rem;

    .name{
        font-weight: bold;
    }

    .left{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .right{
        display: flex;
        gap: 1rem;
        align-items: center;

    }
}