*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(../public/wallpaper.jpg);
    background-position: center;
    background-size: cover;
}


body{
    background-color: rgb(0, 0, 0);
}

